<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Games List</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/game_list_css.css}" />
    <link rel="stylesheet" type="text/css" href="../static/css/game_list_css.css">
</head>
<body>
    <div class="container">
        <h1>Games List</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="game : ${games}">
                    <td th:text="${game.title}">Sample Title</td>
                    <td th:text="${game.description}">Sample Description</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
